# Настройки сервера
PORT=3000

# Подключение к базе данных PostgreSQL
# Формат: postgresql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@localhost:5432/${DB_NAME}?schema=public"

# Секреты для JWT (Авторизация)
# Здесь должен быть сложный случайный набор символов
JWT_SECRET="your_super_secret_jwt_key_here"
JWT_EXPIRATION_TIME="24h"

# База данных
DB_USER=postgres
DB_PASSWORD=root
DB_NAME=version_control_db